body {
  display: flex;
  flex-direction: column;
  background-color: #121241;
}

header,
  footer {
  background: darkgrey; 
}

.jumbotron {
  margin-bottom:0;
  background-color: darkgray;
}

.jumbotron h1 {
color: white;
}

footer {
@@ -59,8 +65,9 @@ footer {
.yours .message {
margin-right: 25%;
background-color: rgb(54, 54, 54);
position: relative;
color: whitesmoke;
}


.yours .message:before {
  @@ -71,7 +78,7 @@ footer {
left: -7px;
height: 20px;
width: 20px;
background: rgb(54, 54, 54);
border-bottom-right-radius: 15px;
}

@@ -83,7 +90,7 @@ footer {
left: -10px;
width: 10px;
height: 20px;
background: white;
background: #121241; 
border-bottom-right-radius: 10px;
}

@@ -120,6 +127,24 @@ footer {
right: -10px;
width: 10px;
height: 20px;
background: white;
background: #121241; 
border-bottom-left-radius: 10px;
}

#my-name-input {
background-color: #363636;
color: white;
}

#my-name-input::-webkit-input-placeholder {
color: lightgray;
}

#my-message {
background-color: darkgray;
color: white;
}

#my-message::-webkit-input-placeholder {
color: lightgray;
}
